trigger: none

pool:
  # vmImage: 'ubuntu-latest'
  name: selfhosted

stages:
- stage: Build
  displayName: "Build and Push Docker Image"
  jobs:
  - job: BuildAndPushImage
    displayName: "Build and Push Docker Image"
    steps:
    - task: Docker@2
      displayName: 'Docker Build and Push'
      inputs:
        command: 'buildAndPush'
        repository: 'brainupgrade/gitops-apps-hello'
        dockerfile: '**/Dockerfile'
        tags: '$(Build.SourceVersion),latest'
        containerRegistry: 'docker-hub-credentials'
- stage: e2e
  displayName: "E2E Deployment"
  jobs:
  - deployment: DeployToE2E
    displayName: "Deploy to E2E Environment"
    environment: 'e2e'
    strategy:
      runOnce:
        deploy:
          steps:
          - task: Bash@3
            displayName: 'Check and Deploy to Kubernetes E2E Environment'
            inputs:
              targetType: 'inline'
              script: |
                if ! kubectl get deployment hello-e2e ; then
                  echo "Deployment not found, deploying now..."
                  kubectl create deploy hello-e2e --image=brainupgrade/gitops-apps-hello:$(Build.SourceVersion) 
                  kubectl set env deployment hello-e2e ENVIRONMENT=e2e BUILD_ID=$(Build.BuildId) GIT_COMMIT_ID=$(Build.SourceVersion)
                  kubectl expose deployment hello-e2e --port=8080 --target-port=8080 
                else
                  kubectl set image deployment hello-e2e gitops-apps-hello=brainupgrade/gitops-apps-hello:$(Build.SourceVersion) 
                fi
          - task: Bash@3
            displayName: "Verify Deployment"
            inputs:
              targetType: 'inline'
              script: |
                echo "Verifying the deployment..."
                kubectl get deploy -owide -l app=hello-e2e
